# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.MeditationAntistress.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\GitHub\MeditationAntistress\.idea\.idea.MeditationAntistress\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
